ip sla {{ ip_sla.r1r2.sla_seq }}
 icmp-echo {{ ip_sla.r1r2.sla_dest }} source-interface GigabitEthernet1
  threshold {{ ip_sla.r1r2.threshold }}
  timeout {{ ip_sla.r1r2.timeout }}
  frequency {{ ip_sla.r1r2.frequency }}
ip sla schedule {{ip_sla.r1r2.sla_seq }} life forever start-time now

track {{ ip_sla.r1r2.track_seq }} ip sla {{ ip_sla.r1r2.sla_seq }} state
