ip sla {{ sla_seq }}
 icmp-echo {{ sla_dest }} source-interface GigabitEthernet1
  threshold {{ threshold }}
  timeout {{ timeout }}
  frequency {{ frequency }}
ip sla schedule {{ sla_seq }} life forever start-time now

track {{ track_seq }} ip sla {{ sla_seq }} state
